@model MITM.Models.Base
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section stylesheets{
    <style>
        img {
            width: 100%;
        }

        body {
            padding-top: 0px;
        }

        .blogPost {
            background-color: dimgrey;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .intro-header {
            margin-bottom: 0px;
        }

        p {
            font-family: 'Arial Narrow', Arial, sans-serif;
            color: ghostwhite;
        }

        h3 {
            color: ghostwhite;
        }
    </style>
}

<div ng-controller="blogController as BCtrl">
    <input type="hidden" id="blogId" value="@Model.Id" />
    <header class="intro-header" style="background-image: url('{{BCtrl.item.imageLocation}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>MITM</h1>
                        <hr class="small">
                        <span class="subheading">{{BCtrl.item.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="col-md-12 blogPost">
        <div class="col-md-8">
            <p>{{BCtrl.item.description}}</p>
        </div>
        <div class="col-md-4">
            <h3>Date Posted: {{BCtrl.item.createdDate | date}}</h3>
            <hr />
            <h3>Category: {{BCtrl.item.category}}</h3>
            <hr />
            <h3><a href="/home/">Back Home</a></h3>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/MITM/angularFactorys/BlogFactory.js"></script>
    <script>
        (function () {
            "use strict";

            angular.module('mitmApp').controller('blogController', BlogController);

            function BlogController($scope, $http, blogService) {
                var vm = this;
                vm.$scope = $scope;
                vm.$http = $http;
                vm.blogService = blogService;
                vm.blogId = ($("#blogId").val());
                vm.item = {};

                render()

                function render() {
                    return blogService.getBlogById(vm.blogId)
                        .then(function (data) {
                            vm.item = data.data;
                        });
                }
            }


        })();


    </script>

}

