@{
    ViewBag.Title = "Home Page";
}


@section stylesheets{
    <style>
        body {
            padding-top: 0px;
        }

        .intro-header {
            margin-bottom: 0px;
        }

        .thumbnailInfo {
            background-color: white;
        }

        .thumbnail {
            background-color: white;
            border-color: white;
            padding: 0px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }

        .thumbnailCon {
            background-color: white;
            border-color: white;
            padding-left: 0px;
            padding-right: 0px;
            border-radius: 20px;
            border: 0px;
            margin: 10px;
        }

        p {
            text-align: center;
        }

        .nav {
            width: 100%;
            border-radius: 10px;
        }

        .container-fluid {
            padding: 0px;
        }

        .row {
            margin-top: 10px;
        }

        img {
            height: 300px;
            width: 500px;
        }

        #banner {
            background-image: url("http://www.ilexcontent.com/wp-content/uploads/2015/09/blog-laptop-copy-2.jpg");
        }
    </style>

}

<section id="banner">
    <div class="inner">
        <header>
            <h1>MITM</h1>
            <p>A Blog</p>
        </header>
        <a href="#main" class="more">Learn More</a>
    </div>
</section>

<!-- Main -->
<div id="main" ng-controller="homeController as HCtrl">
    <div class="inner">

        <!-- Boxes -->
        <div class="thumbnails">

            <div class="box" ng-repeat="item in HCtrl.items">
                <a href="" class="image fit"><img ng-src="{{item.imageLocation}}" alt="" /></a>
                <div class="inner">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description | limitTo : 50}}</p>
                    <a href="/blogs/blog/{{item.id}}" class="button fit">View</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/MITM/angularFactorys/BlogFactory.js"></script>
    <script>
        (function () {
            "use strict";

            angular.module('mitmApp').controller('homeController', Homecontroller);


            function Homecontroller($scope, $http, blogService) {
                var vm = this;
                vm.$scope = $scope;
                vm.$http = $http;
                vm.blogService = blogService;
                vm.items = [];

                render()

                function render() {
                    return blogService.getBlogs()
                        .then(function (data) {
                            vm.items = data.data;
                            console.log(data)
                        });
                }
            }


        })();




    </script>

}