
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section stylesheets{
    <style>
        .btn {
            padding: 10px;
            border-radius: 20px;
        }
    </style>
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="container col-md-12" ng-controller="adminController as ACtrl">

    <div class="col-sm-2 col-md-2 sidebar" ng-init="showMe = 2">
        <div class="list-group module">
            <a class="list-group-item settingsList" ng-class="{'active' : showMe == 2}" ng-click="showMe = 2">
                <i class=""></i> Add Blog<i class="fa fa-angle-right pull-right"></i>
            </a>
            <a class="list-group-item settingsList" ng-class="{'active' : showMe == 3}" ng-click="showMe = 3">
                <i class=""></i> Manage Blogs<i class="fa fa-angle-right pull-right"></i>
            </a>
        </div>
    </div>

    <div ng-show="showMe==2" class="center-orientation container col-md-8 center-info" ng-controller="addBlogController as ABCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class=""></i> Add Blog</h3>
            </div>
            <div class="panel-body">
                <div class="accordion-section">
                    <form name="blogAddForm" class="form-group" ng-submit="blogAddForm.$valid && ABCtrl.submit()" novalidate>
                        <div>
                            <label for="category">Category</label>
                            <input class="form-control" name="category" type="text" ng-model="ABCtrl.newBlog.category" placeholder="Please Enter a Category" required />
                        </div>
                        <div>
                            <label for="title">Title</label>
                            <input class="form-control" name="title" type="text" ng-model="ABCtrl.newBlog.title" placeholder="Please Enter a Title" required />
                        </div>
                        <div>
                            <label for="imageLocation">Image Url</label>
                            <input class="form-control" name="imageLocation" type="text" ng-model="ABCtrl.newBlog.imageLocation" placeholder="Please Enter Image URL" required />
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <div ckeditor="options" ng-model="ABCtrl.newBlog.description" ready="onReady()"></div>
                        </div>
                        <br />
                        <input type="submit" class="btn btn-default" value="Create Blog" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="showMe==3" class="center-orientation container col-md-8 center-info" ng-controller="manageBlogController as MBCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class=""></i> Manage Blogs</h3>
            </div>
            <div class="panel-body">
                <div class="accordion-section">
                    <div class="col-md-12">
                        <h2>Current Blogs</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Blog</th>
                                    <th>Date Created</th>
                                    <th>Comments</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in MBCtrl.items">
                                    <td>{{item.title | limitTo : 50}}</td>
                                    <td>{{item.createdDate | date}}</td>
                                    <td><a ng-click="MBCtrl.showComments(item)" class="btn btn-sm btn-info">Show Comment</a></td>
                                    <td><a ng-click="MBCtrl.deleteBlog(item)" class="btn btn-sm btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <h1 style="text-align:center;">Comments</h1>
                            <div ng-repeat="comment in MBCtrl.comments">
                                <div ng-show="showComments == {{comment.blogId}}">
                                    <h1>{{comment.name}}</h1>
                                    <p>{{comment.subject}}</p>
                                    <p>{{comment.message}}</p>
                                    <a ng-click="MBCtrl.deleteComment(comment)" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/MITM/angularFactorys/CommentFactory.js"></script>
    <script src="~/Scripts/MITM/angularFactorys/BlogFactory.js"></script>
    <script>
        (function () {
            "use strict";
            angular.module('mitmApp').controller('adminController', AdminController);

            function AdminController($scope, $http) {
                var vm = this;
                vm.$scope = $scope;

                $scope.$on('newBlogCreated', function (event, data) {
                    $scope.$broadcast('NewBlogHydrate', data)
                })

            };
        })();
        (function () {
            "use strict";
            angular.module('mitmApp').controller('addBlogController', AddBlogController);

            function AddBlogController($scope, blogService) {
                var vm = this;
                vm.$scope = $scope;
                vm.blogService = blogService;
                vm.submit = _submit;


                function _submit() {
                    return blogService.postBlog(vm.newBlog)
                        .then(function (data) {
                            $scope.$emit('newBlogCreated', vm.newBlog);
                            vm.newBlog = {};
                        });
                }

            };
        })();
        (function () {
            "use strict";
            angular.module('mitmApp').controller('manageBlogController', ManageBlogController);

            function ManageBlogController($scope, $http, blogService, commentService) {
                var vm = this;
                vm.$scope = $scope;
                vm.blogService = blogService;
                vm.commentService = commentService;
                vm.items = [];
                vm.comments = [];
                vm.deleteBlog = _deleteBlog;
                vm.showComments = _showComments;
                vm.deleteComment = _deleteComment;
                var regex = /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]!\$&'\(\)\*\+,;=.]+$/;

                $scope.$on('NewBlogHydrate', function (event, data) {
                    vm.items.push(data);
                })
                $scope.$watch('showComments', function () {
                    $scope.toggleText = $scope.showComments ? 'Hide Comments' : 'Show Comments';
                })

                render();

                function render() {
                    return blogService.getBlogs()
                          .then(function (data) {
                              angular.forEach(data.data, function (i) {
                                  if (!regex.test(i.imageLocation)) {
                                      i.imageLocation = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGQPJWkRvA_6y0PpxH6xfjVdXJofCvf3WCHnjOgin0QLw990C3Sg";
                                  }
                              })
                              vm.items = data.data;
                              return commentService.getAllComments()
                               .then(function (data) {
                                   vm.comments = data.data
                               });
                          });
                }

                function _deleteBlog(item) {
                    var index = vm.items.indexOf(item);
                    return blogService.deleteBlog(item.id)
                           .then(function (data) {
                               vm.items.splice(index, 1);
                           });
                }

                function _showComments(item) {
                    console.log(item)
                    $scope.showComments = item.id;
                }
                function _deleteComment(comment) {
                  var deleteComment = vm.comments.indexOf(comment)
                    console.log(comment.id);
                    return commentService.deleteComment(comment.id)
                            .then(function (data) {
                                vm.comments.splice(deleteComment, 1);
                            });
                }

            };
        })();

    </script>


}

